* {
  font-family: sans-serif;
  font-style: normal;
  font-size: 12px;
  margin: 0;
  padding: 0;
  line-height: 10px;
}

figure {
  display: block;
  margin: 10px;
  border: dotted 1px;
  width: 640px;
  height: 480px;
}

b {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
}

/* OBJECTS */

b.space {
  background: black;
}

b.stone {
  background: url('../resource/sprites.png') -40px -135px no-repeat black;

}

b.brick {
  background: url('../resource/sprites.png') -40px -60px no-repeat black;
}

b.ladder {
  background: url('../resource/sprites.png') -40px -192px no-repeat black;
}

b.rope {
  background: url('../resource/sprites.png') -40px -268px no-repeat black;
}

b.gold {
  background: url('../resource/sprites.png') -40px -211px no-repeat black;
}

b.player {
  background: url('../resource/sprites.png') -2px -2px no-repeat black;
}

b.enemy {
  background: url('../resource/sprites.png') -40px -2px no-repeat black;
}